modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 5002
externalPort = 3003

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 5173

[[ports]]
localPort = 8083
externalPort = 6000

[[ports]]
localPort = 8084
externalPort = 4200

[[ports]]
localPort = 19216
externalPort = 3002

[[ports]]
localPort = 19217
externalPort = 5000

[[ports]]
localPort = 26222
externalPort = 3000

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://hhqhoqwpebnmfuhwhllw.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhocWhvcXdwZWJubWZ1aHdobGx3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxNDUzNjMsImV4cCI6MjA5MjcyMTM2M30.hmFlW7RHkQVY3iwxAekJQIGemsgbQpJegnW8gB8S0Wc"
SUPABASE_URL = "https://hhqhoqwpebnmfuhwhllw.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhocWhvcXdwZWJubWZ1aHdobGx3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxNDUzNjMsImV4cCI6MjA5MjcyMTM2M30.hmFlW7RHkQVY3iwxAekJQIGemsgbQpJegnW8gB8S0Wc"
EXPO_PUBLIC_SUPABASE_URL = "https://hhqhoqwpebnmfuhwhllw.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhocWhvcXdwZWJubWZ1aHdobGx3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxNDUzNjMsImV4cCI6MjA5MjcyMTM2M30.hmFlW7RHkQVY3iwxAekJQIGemsgbQpJegnW8gB8S0Wc"
TRACCAR_TOKEN = "eE8kenJPRtCrtWb90HEIn5:APA91bFFqtVUKi_1O7ySEKQQJUXZ8Ys96FY1QiuNFT_G_z4hT9eoKFbaW0P52aOXVeoc0WUGEphe1k23_aS6Kk_Pa3IbAD1Yu_e8wJ5S7pNTAQvfDkqU_zU"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhocWhvcXdwZWJubWZ1aHdobGx3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzE0NTM2MywiZXhwIjoyMDkyNzIxMzYzfQ.i60Z7VTMq4M_2jDKeThY43Lv1z55OFr_lZlqgkV3Ge8"

[nix]
channel = "stable-25_05"
